<div class="text-center well" style="margin:0 auto">
  <h4>Login to your LVTC account</h4>
  <br>
  <%= form_for @user, url: login_path, :html => { :id => "login" } do |f| %>
    <% if flash[:errors] %>
      <p class="flash-notice"><%= flash[:errors] %></p>
    <% end %>

    <%= f.text_field :username, placeholder: "username" %> <br>
   
    <%= f.password_field :password, placeholder: "password" %>
    <br>  
    <%= f.submit value="Go!", :class => "btn btn-primary" %>
  <% end %>
</div>
