<div class='text-center'><%= image_tag attachments['new_logo.png'].url, :size => '200x80' %></div>
<br>
<h4>Dear <%= @user_membership.users.first.last_name %> family,</h4>
<p>We have received your payment of $<%= @user_membership.membership.price %> for a <%= @user_membership.membership.category %> LVTC membership.</p>
<p>Members registered under this account are listed below:</p>
<ol>
	<% @user_membership.users.each do |user| %>
	<li><%= user.first_name %> <%= user.last_name %>, <%= user.gender %>, DOB: <%= user.birthday %></li>
	<% end %>
</ol>
<p>This membership (ID: <%= @user_membership.membership_code %>) expires on <%= @user_membership.expiration_date %>.</p>

<p>Questions? Reply to this email.</p>

<%= link_to "The Las Vegas Track Club", 'http://lvtc.org' %>
