<%= javascript_tag do %>
  window.stripePubKey = '<%= j Rails.configuration.stripe[:publishable_key] %>';
<% end %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<% if @error %>
<%= @error %>
<% end %>

<div class="well" style="margin-left: 0px; position: relative; min-width: 510px; min-height: 180px;
height: auto;">
  <%= form_tag user_memberships_path, :id => 'payment-form' do %>
  	<%= hidden_field_tag :membership_type, @type %>
    <div class="row">
      <div class="family-membership">
        <div class="person">
          <div style="float: left; padding-left: 25px">
          	<label for="person"><strong>Member #1</strong></label>
            <input type="text" name="firstname[]" id="firstname1" style="width: 20em" placeholder="First Name"/>
    ￼￼￼   </div>
          <div style="float:left; padding-left: 25px">
          	<label for="" style="color:white">&nbsp;</label>
            <input type="text" size="20" name="lastname[]" id="lastname1" style="width: 20em" placeholder="Last Name"/>
          </div>
          <div style="float:left; padding-left: 25px">
          	<label for="birthdate">Date of Birth</label>
            <input type="date" size="20" name="birthdate[]" value="2000-01-01" style="width: 20em"/>
          </div>
          <div style="float: left; padding-left: 25px;width: 20em;height:100px">
          	<label for="gender">Gender</label>
            <select name="gender[]" id="gender">
            	<option value="">Select from dropdown</option>
            	<option value="female">Female</option>
            	<option value="male">Male</option>
            </select>
    ￼￼￼   </div>
        </div>
      </div>
    </div>
    <div class="row">
    	<% if @type == "Family1" || "Family2" || "Family3" || "Family0" %>
	      <div class='span8 text-center'>
          <button id="add-member" class='btn btn-primary btn-small' style="width:136px">Add Another Member</button> &nbsp;
          <button id="delete-member" class='btn btn-primary btn-small' style="width:136px;">Delete Member</button>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div>
	      <div class="span9">
	      	<hr>
	      	<h5>Membership Information</h5>
	      </div>
      </div>
      <div style="float: left; padding-left: 25px">
        <input type="email" name="email" id="email" placeholder="Email Address" style="width: 20em"/>
￼￼￼   </div>
			<div style="float: left; padding-left: 25px">
        <input type="text" name="address" id="address" placeholder="123 Street Address" style="width: 20em"/>
￼￼￼   </div>
      <div style="float: left; padding-left: 25px">
        <input type="text" name="number" id="number" placeholder="City" style="width: 14.5em"/>
        <input style="width: 4em" type="text" id="state" placeholder="State">
￼￼￼   </div>
			<div style="float: left; padding-left: 25px">
        <input type="text" name="zipcode" id="zipcode" placeholder="Zip Code" style="width: 20em"/>
￼￼￼   </div>
			<div style="float: left; padding-left: 25px">
        <input type="text" name="number" id="number" placeholder="Cell Phone Number" style="width: 20em"/>
￼￼￼   </div>
			<div style="float: left; padding-left: 25px">
        <input type="text" name="number" id="number" placeholder="Home Phone Number" style="width: 20em"/>
￼￼￼   </div>
    </div>
    <div class="row">
    	<div class="span8">
	    	<hr style='color:black'>
	    	<h5>Payment Information <%= image_tag('http://www.cartwheelcom.com/images/CreditCardLogos.jpg', size:'110x70') %></h5>
	    </div>
      <div style="float: left; padding-left: 25px">
        <input type="text" size="20" data-stripe="number" id="number" placeholder="16 Digit Card Number" pattern="[\d ]*" style="width: 20em"/>
      </div>
      <div style="float: left; padding-left: 25px">
        <input type="text" style="width: 3em" size="3" data-stripe="cvc" id="cvc" placeholder="CVC" pattern="\d*"/>
      </div>
      <div style="float: left; padding-left: 25px">
        Exp:<input style="width: 3em" type="text" size="2" id="exp-month" data-stripe="exp-month" placeholder="MM" pattern="\d*"/>
        <span> / </span>
        <input style="width: 4em" type="text" size="4" id="exp-year" data-stripe="exp-year" placeholder="YYYY" pattern="\d*"/>
      </div>
    </div>
    <div class="row" style="margin-top: 70px">
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-large">Create New Membership</button>
      </div>
    </div>
  <% end %>
</div>


