<% if @announcement %>
	<div style="background-color:#FFFB7A;padding:10px">
		<h4><%= @announcement.title %></h4>
		<p><%= @announcement.line_1 %></p>
		<p><%= @announcement.line_2 %></p>
	</div>
<% end %>

<% @event = Event.where(:front_page => true).first %>
<h3 class="text-info"><%= link_to @event.title, @event %></h3>
<blockquote><p><%= @event.date.strftime('%A, %B %e, %Y') %> at <%= @event.time %></p>
<p><%= @event.location %></p></blockquote>

<img src=<%= @event.front_page_photo_url %>> <br> <br>

<p><%= @event.description_1 %></p>
 
<p><%= @event.description_2 %></p>

<p><%= @event.description_3 %></p>
