<% if @announcement %>
	<div style="background-color:#FFFB7A;padding:10px">
		<h4><%= @announcement.title %></h4>
		<p><%= @announcement.line_1 %></p>
		<p><%= @announcement.line_2 %></p>
	</div>
<% end %>

<div class="well" style="margin-left: 0px; position: relative; min-width: 510px; min-height: 300px;height: auto;">
	<h3 class="text-info"><%= link_to @event.title, @event %></h3>
	<blockquote><img src=<%= @event.front_page_photo_url %> height='320' width='320' style='float:right;border-radius:5px;padding:5px'><p><%= @event.date.strftime('%A, %B %e, %Y') %> at <%= @event.time %></p>
	<p><%= @event.location %></p></blockquote>
	
	<p><%= @event.description_1 %></p>
	 
	<p><%= @event.description_2 %></p>

	<p><%= @event.description_3 %></p>

</div>
