<h3>Local Running Clubs</h3>
<p><%= link_to "Cedar City Running Club", 'http://cedarcityrunningclub.wordpress.com/' %></p>
<p><%= link_to "Gone Running 2 Meetup Group", 'http://www.meetup.com/gone-running2/' %></p>
<p><%= link_to "Havasu Hustlers Run Club", 'http://www.havasuhustlers.com/' %></p>
<p><%= link_to "Las Vegas Marathon 21 Club", 'http://www.lvm21.com/' %></p>
<p><%= link_to "Mesquitos on the Run - Mesquite", 'http://www.mesquitosontherun.com/' %></p>
<p><%= link_to "Ninja Endurance Racing", 'http://ninjaenduranceracing.com/' %></p>
<p><%= link_to "Sin City Road Runners", 'http://www.sincityroadrunners.com/' %></p>
<p><%= link_to "Southern Nevada Team In Training", 'http://www.teamintraining.org/snv/' %></p>
<p><%= link_to "St. George Utah Running Club", 'http://www.stgeorgerunningclub.com/' %></p>
<p><%= link_to "Summerlin Striders Running Club", 'http://www.facebook.com/SummerlinStriders' %></p>
<p><%= link_to "Team Challenge Crohns & Colitis SW Chapter Las Vegas", 'http://www.ccteamchallenge.org/Teams/southwest_las_vegas.htm' %></p>
<p><%= link_to "The Wild Bunch Running Meetup Group", 'http://www.meetup.com/wildbunchrunning/' %></p>
<p><%= link_to "Valley Striders", 'http://www.valleystriders.com/' %></p>

<h3>Local Running Clubs</h3>
