<h1>$5 Bagel</h1>

<%= form_tag charges_path do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <br>
  
  <%= hidden_field_tag :price, 500 %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Buy a bagel for $5"
          data-amount="500">
  </script>

<% end %>








