<!DOCTYPE html>
<html>
<head>
  <title>Las Vegas Track Club</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <div class="nav-collapse">
	        <ul class="nav nav-tabs">
	          <li><%= link_to "About LVTC", about_path %></li>
	          <li><%= link_to "Past Events", events_path %></li>
	          <li><%= link_to "Newsletters", newsletters_path %></li>
	          <li><%= link_to "Championship Series", champion_series_points_pdf_path %></li>
	          <li><%= link_to "Grand Prix", newsletters_path %></li>
	          <li><%= link_to "Running Links", local_running_links_path %></li>
	          <li><%= link_to "Join", lvtc_membership_path %></li>
	          <li><%= link_to "Login" %></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container">
	  <div class="row">
	  	<div class="text-center" style="background-image:url('/assets/las_vegas.png');padding-top:10px;padding-bottom:10px;height:140px">
	  		<div><%= link_to image_tag("logo_white.png", :size => '650x300'), root_path %></div> <br>
	  	</div>
	  	<br>
	    <div class="span9"><%= yield %></div>
	  	<div class="span3" style="background-color:#F0F0F0">
	  		<div class="text-center">
	  			<br>
					<span style="padding-right:15px"><%= link_to image_tag("facebook.png", :size => '50x50'), 'https://www.facebook.com/lasvegastrackclub' %></span>
		  		<%= link_to image_tag("twitter.png", :size => '50x50'), 'https://twitter.com/LV_Track_Club' %>
		  		<hr style="border:10px solid white">
		  	</div>
	      <h3 class="text-center">Upcoming Events</h3>
	      <div class="text-center"><%= link_to "View PDF Calendar", pdf_schedule_path(:pdf) %></div>
	      <br>
	      <div><% Event.future_events.limit(30).sort! {|a, b| a.date <=> b.date }.each do |event| %>  
		      <div class="text-info">
		      	<div style="padding-left:15px; padding-right:15px">
		      	<strong><%= link_to raw('<i class="icon-calendar"></i>'), event.website%> <%= link_to event.title, event_path(event), :class => 'pinklink'%></strong> <br>
			      	<span><%= event.date.strftime('%a, %b %d') %> at <%= event.time %></span> <br>
			      	<span><%= event.location %></span></div>
			      	<br>
		      </div>
	      <% end %>
	    </div>
	  </div>
	</div>
</body>
</html>
